* {
  padding: 0px;
  margin: -3px;
  scrollbar-width: none;
}
:root {
  --white: #faf5ff;
  --pure: #fff;
  --yellow: #fbc72b;
  --greeb: rgb(110, 171, 19);
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -3em;
  position: stiky;
  /* background-color: var(--yellow); */
}
img {
  height: 2.5em;
  width: 2.5em;
  padding-top: 10px;
  padding-left: 80px;
  font-size: 5.2em;
  cursor: pointer;
}
nav ul li {
  position: absolute;
  list-style: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  left: 30rem;
}
ul li a:first-child {
  color: var(--yellow);
}
nav ul li a {
  color: black;
  padding: 30px;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
nav ul li a:hover {
  color: var(--yellow);
  text-shadow: 0px 0px 2px;
}
.Partnership {
  border: none;
  font-size: 17px;
  padding: 10px;
  position: absolute;
  left: 38em;
  top: 2px;
  background-color: var(--yellow);
  border-radius: 20px;
  transition: all 1s ease 0s;
}
button:hover {
  background-color: var(--greeb);
  color: var(--pure);
}
#nav-drop .bx-menu {
  position: absolute;
  right: 6em;
  top: 1.4em;
  font-size: 2em;
  display: none;
}
#nav-drop #drop #drop-item a {
  display: block;
  position: relative;
  top: 2em;
  background-color: wheat;
  backdrop-filter: blur(10px);
}
button .drop-button {
  border: none;
  font-size: 17px;
  padding: 10px;
  position: absolute;
  left: 40em;
  top: -1px;
  background-color: var(--yellow);
  border-radius: 20px;
  transition: all 1s ease 0s;
}

section {
  height: 700px;
  margin-top: -40px;
  width: 100%;
  background-color: var(--yellow);
  scroll-behavior: smooth;
}
div span {
  height: 30px;
  width: 30px;
  background-color: var(--pure);
  filter: opacity(0.2);
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
div .dot1 {
  height: 60px;
  width: 60px;
  margin: 2em 0px 0px 10em;
  margin-bottom: 10em;
}
div .dot2 {
  height: 5em;
  width: 5em;
  margin-top: 6em;
  margin-left: 30rem;
}
div .dot3 {
  height: 20em;
  width: 20em;
  border-radius: 28% 72% 26% 74% / 71% 33% 67% 29%;
  top: 17.4em;
  left: 27em;
  opacity: 1;
  filter: opacity(10%);
}
div .dot4 {
  height: 10em;
  width: 10em;
  top: 10em;
  right: 48em;
  filter: opacity(20%);
}
main .offer {
  height: 6em;
  width: 6em;
  background-color: var(--pure);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -18em;
  left: 70em;
  text-align: center;
}
main .offer p {
  margin-top: 15px;
}
main .offer span {
  color: var(--yellow);
  font-weight: bold;
}
main #orange-mockup {
  height: 6em;
  width: 6em;
  position: absolute;
  left: 10em;
  top: 2em;
  z-index: 999;
  transform: rotate(-28deg);
  filter: drop-shadow(-7px 0px 5px black);
}
main #bg {
  height: 2.8em;
  width: 3em;
  position: absolute;
  left: 11em;
  opacity: 0.7;
  filter: drop-shadow(-7px 0px 5px black);
}
main h2 {
  position: absolute;
  font-size: 4em;
  top: 4.5em;
  left: 1.5em;
  line-height: 1.3em;
  cursor: pointer;
}
main h2 em {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.3em;
  color: white;
  position: absolute;
  top: -0.2em;
  left: 1.5em;
}
main h2 span {
  color: white;
}
main h3 {
  font-size: 1.5em;
  color: black;
  position: absolute;
  left: 4em;
  top: 20em;
  font-weight: 500;
}
.btn-more {
  border: none;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgb(221, 175, 23);
  margin-left: 7em;
  margin-top: 3em;
  padding: 10px 20px;
  box-shadow: 2px 2px 5px black;
  transition: all 0.9s ease;
}
.btn-more:hover {
  background-color: rgb(221, 175, 23);
  box-shadow: none;
  color: black;
}
.btn-shop {
  border: none;
  position: absolute;
  font-size: 20px;
  border-radius: 20px;
  background-color: black;
  color: var(--pure);
  margin-left: 1em;
  margin-top: 3em;
  padding: 9px 12px;
  box-shadow: 2px 2px 5px black;
  transition: all 0.9s ease;
}
.btn-shop:hover {
  box-shadow: none;
  background-color: black;
}
section .marque {
  background-color: rgb(242, 65, 65);
  margin-top: 7.3em;
  text-shadow: -1px 1px 2px whitesmoke;
  padding: 15px 0px;
  color: #fffdfc;
  font-size: 20px;
  font-style: italic;
  word-spacing: 6px;
  white-space: nowrap;
  overflow-x: hidden;
  cursor: pointer;
}

section .marque #marq {
  position: relative;
  color: black;
  text-shadow: none;
  font-weight: bold;
}

#section-add {
  height: 550px;
  width: 100%;
  background-color: whitesmoke;
  margin-top: 2px;
  display: flex;
  flex-direction: raw;
}
#section-add #bg-leaf {
  position: absolute;
  left: -1.1em;
  margin-top: 4em;
  transform: rotate(5deg);
  opacity: 0.5;
  z-index: 111;
}
#section-add .content #heart {
  position: absolute;
  width: 1.8em;
  height: 1.8em;
  top: 10.4em;
  left: 5.1em;
}
#section-add .content #underline {
  position: absolute;
  width: 5em;
  top: 10.7em;
  left: 2.2em;
  opacity: 0.7;
  transform: rotate(-15deg);
}
#section-add .content #underline-2 {
  position: absolute;
  width: 3em;
  top: 10em;
  transform: rotate(180deg);
  left: 0.4em;
  opacity: 0.7;
}
#section-add h1 {
  font-size: 3em;
  text-align: center;
  position: relative;
  left: 2.8em;
  top: 2em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#section-add h1 span {
  color: rgb(211, 5, 5);
  font-weight: 600;
  font-size: 1.2em;
}
#section-add h2 {
  position: absolute;
  margin-top: 9.6em;
  display: flex;
  font-size: 20px;
  left: 7em;
  /* text-align: center; */
  color: #023e26;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#section-add #Ingredient {
  position: absolute;
  margin-top: 15em;
  left: 7em;
  color: #023e26;
  font-size: 20px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#section-add #info {
  font-weight: 500;
  line-height: 2em;
  position: relative;
  left: -1.2em;
  list-style: none;
  z-index: 999;
}
#section-add #info::before {
  content: "🍉";
}
#section-add .images {
  position: relative;
  left: 17.4em;
  top: -2em;
}
.images #background {
  height: 5em;
  width: 6em;
  margin-top: 1.6em;
  margin-left: 2em;
  filter: drop-shadow(-6px 2px 3px rgba(29, 3, 3, 0.69));
}
.images #background-1 {
  height: 2em;
  width: 2.5em;
  position: absolute;
  left: 3.8em;
  top: 4.3em;
  transform: rotate(10deg);
  z-index: 333;
  filter: drop-shadow(-6px 2px 3px rgba(29, 3, 3, 0.69));
}
.images #background-2 {
  position: absolute;
  top: 1.4em;
  left: 3.4em;
  height: 4.2em;
  width: 4.4em;
  z-index: 222;
  filter: drop-shadow(-6px 2px 3px rgba(29, 3, 3, 0.69));
}
.images #background-3 {
  height: 4em;
  width: 3em;
  position: absolute;
  left: 3em;
  top: 2.6em;
  z-index: 0;
  /* transform:rotate(-20deg); */
  filter: drop-shadow(-6px 2px 3px rgba(29, 3, 3, 0.69));
}
.images #background-4 {
  position: absolute;
  left: 5em;
  top: 3.9em;
  z-index: 222;
  filter: drop-shadow(-6px 2px 3px rgba(29, 3, 3, 0.69));
}
.images #background-5 {
  position: absolute;
  left: 5em;
  top: 3em;
  filter: drop-shadow(-6px 2px 3px rgba(29, 3, 3, 0.69));
}
.images #circle {
  height: 7em;
  width: 8em;
  margin-left: -7.6em;
  z-index: 111;
  transform: rotate(-4deg);
  mix-blend-mode: color-burn;
}

.sec-two {
  background-color: var(--yellow);
  height: 690px;
  margin-top: 1px;
}
.sec-two .left #kiwi {
  position: absolute;
  left: -1rem;
  margin-top: 20rem;
  height: 2.4em;
  width: 2.3em;
  z-index: 999;
  filter: drop-shadow(0px 4px 3px black);
}
.sec-two .left #mango {
  position: absolute;
  left: 14rem;
  margin-top: 27rem;
  height: 2em;
  width: 2em;
  z-index: 999;
  filter: drop-shadow(0px 4px 3px black);
}
.sec-two .left #rasberry {
  position: absolute;
  left: 34rem;
  margin-top: 20rem;
  height: 3em;
  width: 2.9em;
  z-index: 999;
  filter: drop-shadow(0px 4px 3px black);
}
.sec-two .left .taste #green {
  position: absolute;
  height: 5.4em;
  width: 4.6em;
  top: 17em;
  left: -0.3em;
  filter: drop-shadow(0px 4px 3px black);
}
.sec-two .left .taste #yellow {
  position: absolute;
  height: 5.4em;
  width: 4.8em;
  top: 18em;
  left: 2.3em;
  filter: drop-shadow(0px 4px 3px black);
}

.sec-two .left .taste #berry {
  position: absolute;
  height: 5.4em;
  width: 4.4em;
  top: 17em;
  left: 5.1em;
  filter: drop-shadow(0px 4px 3px black);
}
.sec-two .right {
  position: relative;
  height: 30em;
  width: 30em;
  top: 5em;
  left: 56em;
  background-color: var(--white);
  border: 1px solid var(--white);
  border-radius: 30% 60% 70% 50% / 50% 60% 30% 60%;
  /* animation: shape 3s ease-in-out infinite; */
}
@keyframes shape {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70%;
    border: none;
  }
  50% {
    border-radius: 30% 60% 70% 50% / 50% 60% 30% 60%;
    background: rgb(235, 229, 229);
    border: none;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70%;
    border: none;
  }
}
.sec-two .right h2 {
  position: absolute;
  top: 50px;
  left: 3em;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5em;
  white-space: post;
  color: darkgreen;
  padding-top: 1.7em;
}
.sec-two .right ul {
  position: absolute;
  top: 10em;
  left: 4em;
  font-size: 25px;
  font-weight: 300;
  padding-top: 10px;
  line-height: 2em;
  list-style: none;
}

.sec-two .right li::marker {
  content: "🌿";
}

#sec-three {
  background-color: var(--pure);
  height: 550px;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  position: relative;
}
#sec-three h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  left: 40px;
}
#sec-three h2 span {
  position: relative;
  font-style: italic;
  top: 0.2em;
  color: var(--yellow);
}
#sec-three h4 {
  font-size: 20px;
  margin-top: 15px;
  font-weight: 200;
  text-align: center;
}
#sec-three #cart .cart-container {
  width: 260px;
  height: 350px;
  margin-left: 2em;
  margin-top: 4em;
  background-image: radial-gradient(circle, #fffdfc, rgb(253, 196, 7));
  border-radius: 50px;
  box-shadow: 5px 5px 2px #eec83e, -5px -5px 3px #81772b;
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}
#sec-three #cart .cart-container:hover {
  transition: all 0.4s ease;
  box-shadow: none;
}
#sec-three .cart-container img {
  margin-left: -1em;
  margin-top: -3px;
  height: 130px;
  width: 144px;
}
#sec-three .cart-container {
  justify-content: center;
  text-align: center;
  display: inline-block;
  padding: 10px;
}
#sec-three .cart-container h4 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
#sec-three .cart-container p {
  font-size: 18px;
  /* padding: 10px; */
  text-align: justify;
  padding: 10px 10px 10px 10px;
}
#sec-three #hr-one {
  width: 80%;
  margin-top: 8rem;
  margin-left: 10em;
  border: 1px solid rgb(40, 36, 36);
}
#sec-three #leaf {
  position: absolute;
  top: 7.97em;
  left: 8em;
  width: 40px;
  height: 40px;
}

/* sec4 */
#sec-four {
  height: 520px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 10em;
  background-color: var(--pure);
}
#sec-four .top {
  display: flex;
  flex-direction: raw;
  flex: 3fr;
  padding: 10px 20em;
}
#sec-four .top h2 {
  font-size: 55px;
  margin-left: 30px;
  padding-top: 20px;
  text-decoration: underline wavy green;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}
#sec-four .top p {
  flex: 2px;
  justify-items: right;
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  padding-top: 20px;
  padding-left: 80px;
}
.container {
  background: linear-gradient(#fffffff5, #ce3d9498);
  border-radius: 1rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #8f1455e1;
  width: 300px;
  height: 130px;
  margin-left: 10em;
  margin-top: 120px;
  display: inline-block;
}

.card {
  font-size: 1rem;
  color: black;
  height: 250px;
  box-shadow: -2px -2px 7px #bea804;
  background: linear-gradient(
    0deg,
    #efd872 5%,
    rgb(232, 203, 150) 43%,
    #e9cdca 100%
  );
  border-radius: 1.2rem;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.card:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: -2px -2px 7px black;
  transform: scale(1.1);
}

.card img {
  width: 3em;
  height: 3em;
  position: relative;
  top: -1.3em;
  left: -1.7em;
}
.card p {
  background-color: white;
  border: 1px solid rgb(235, 229, 229);
  border-radius: 10%;
  height: 25px;
  width: 55px;
  padding: 2px;
  position: relative;
  top: -14em;
  left: 13em;
  color: rgba(245, 221, 6, 0.986);
  font-weight: bold;
}
.card p::before {
  content: "⭐";
}

.card h1 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin-top: -140px;
  text-transform: uppercase;
}
.card button {
  padding: 7px;
  border-radius: 20px;
  margin-left: 13em;
  margin-top: 13px;
  border: none;
  background: linear-gradient(
    0deg,
    rgb(220, 231, 149) 0%,
    rgb(239, 247, 103) 43%,
    #ecda35 100%
  );
}
.card button:hover {
  box-shadow: 1px 1px 10px rgb(60, 59, 51);
  color: black;
}

#sec-four #seemore {
  height: 3rem;
  width: 7rem;
  margin-left: 11rem;
  border-radius: 25px;
  border: none;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: transform 0.5s;
  cursor: pointer;
  background-image: linear-gradient(to right, #78ea9c 0%, #f9f047 100%);
}
#sec-four #seemore:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(1px);
  color: black;
}
#sec-four #all-fruits {
  height: 3em;
  width: 4em;
  position: relative;
  left: 2.8em;
  top: 0.5em;
  opacity: 0.5;
  filter: drop-shadow(0px 4px 3px black);
}
/* 5 */
#sec-five {
  background-attachment: fixed;
  background-color: #ffffff62;
  background-repeat: no-repeat;
  background-image: url(./Images/bg-wallpaper.png);
  background-blend-mode: soft-light;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 550px;
  margin-top: 45em;
}
#sec-five h1 {
  text-align: center;
  padding: 10px;
  font-size: 40px;
  color: rgb(64, 3, 3);
  text-shadow: -1px 0px 2px rgb(51, 50, 50);
}
.slider {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: 6em;
  margin-top: 3em;
}

.slider .red {
  background: linear-gradient(-20deg, #e9defa 0%, #eef09c 100%);
}

.slider .blue {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.slider .green {
  background: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.slider .slider {
  display: flex;
  box-shadow: 2px 2px 2px darkorange;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 300px;
  width: 300px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.slider .slider p.second-text {
  font-size: 1em;
  font-weight: 800;
  color: darkorange;
  margin-left: 8em;
  padding-top: 10px;
}

.slider .slider p.tip {
  font-size: 1.1em;
  padding: 10px 30px;
  text-align: justify;
  color: darkgoldenrod;
}

.slider .slider:hover {
  transform: scale(1.2, 1.2);
}

.slider:hover > .slider:not(:hover) {
  filter: drop-shadow(-2px -2px 10px black);
  /* transform: scale(0.9, 0.9); */
}

#sec-six {
  background-color: #fff;
  background-image: url(./Images/fruitBackground.png);
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  opacity: 0.7;
  width: 100%;
  height: 660px;
  margin-top: 2px;
}
.bg-images #slice {
  position: relative;
  top: 0.4em;
  left: 13em;
  opacity: 0.4;
}
#sec-six form {
  border: 1px groove #e9cdca;
  margin-left: 10em;
  position: absolute;
  top: 17em;
  padding: 0px 15px;
  height: 520px;
  background-color: rgb(251, 247, 247);
  box-shadow: 2px 2px 10px #1d1826;
  border-radius: 30px;
  width: 420px;
  margin-top: -14em;
}
form h2 {
  font-size: 30px;
  text-align: center;
  padding: 15px;
}
form h2 strong {
  font-size: 40px;
}
#form-input input[type="text"],
select,
textarea {
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
#form-input #eml{
  display: none;
} 
#form-input #email{
  display: none;
} 
#form-input #inputAdd{
  display:none;
}
#form-input #subject{
  /* display: none; */
  height:90px;
}
/* input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
} */
#form-btn {
  padding: 8px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--yellow);
  border: none;
  box-shadow: 2px 2px 2px #e6e008;
  color: darkgreen;
  font-size: 17px;
  font-weight: bold;
  transition: all 0.4s ease;
}
#form-btn:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
  color: darkgreen;
}
#sec-six .text-container {
  position: absolute;
  top: 10em;
  margin-top:0px;
  margin-left: 48.6rem;
}
#sec-six .text-container h3 {
  color: #d2cc07;
  letter-spacing: 1px;
}
.text-container h2 {
  padding: 10px 0px;
  line-height: 1.2em;
  font-size: 30px;
  font-weight: bold;
}
.text-container div h4 {
  line-height: 1.6em;
  font-size: 22px;
  padding-top: 10px;
  font-weight: 300;
  color: rgba(133, 132, 132, 0.982);
}
.text-container div h4::before {
  content: "✅";
}

#sec-seven {
  background-color: #023e26;
  height: 500px;
  width: 100%;
  margin-top: 2px;
  padding-bottom: 20px;
}
#sec-seven .center {
  border: 2px solid #32624f;
  height: 400px;
  width: 90%;
  position: relative;
  top: 2em;
  left: 4.5em;
}
#sec-seven footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
#left #apple-icon {
  height: 3.4em;
  width: 3.7em;
  position: relative;
  top: -0.4em;
  left: 1.7em;
}
#left h5 {
  display:inline-block;
  position: relative;
  font-size: 20px;
  margin-left: -10em;
  color: rgba(255, 255, 255, 0.734);
  top: -3em;
  line-height: 1.3em;
}
#mid #center-logo {
  height: 5.4em;
  width: 4.3em;
  margin-top: -0.8em;
  margin-left: -3.8em;
  filter: drop-shadow(-10px 6px 1px rgba(45, 12, 12, 0.527));
}
#mid #center-logo:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#mid .social-icons {
  display: flex;
  cursor: pointer;
}
#img-link {
  height: 0.3em;
  width: 0.3em;
  margin-left: -0.7em;
  position: relative;
  top: -1em;
  left: -2em;
}
#img-link:hover {
  transition: all 0.4s ease;
  transform: scale(.9);
}

#right h3 {
  font-size: 25px;
  /* margin-top: 3.8em; */
  position:relative;
  top:4.2em;
  margin-left: -8em;
  color: var(--yellow);
  font-weight: 600;
}
#right .container-input {
  display: flex;
  flex-direction: column;
  gap: 7px;
  position: relative;
  color: white;
  left: -12em;
  top:8em;
}

.container-input .label {
  font-size: 15px;
  padding-left: 10px;
  position: absolute;
  top: 13px;
  transition: 0.3s;
  pointer-events: none;
}

.input {
  width: 200px;
  height: 45px;
  border: none;
  outline: none;
  padding: 0px 7px;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  background-color: transparent;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.input:hover {
  border: 2px solid transparent;
  color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container-input .input:valid ~ .label,
.container-input .input:hover ~ .label {
  transition: 0.3s;
  padding-left: 2px;
  transform: translateY(-35px);
}

.container-input .input:valid,
.container-input .input:focus {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
}

.container-input button {
  margin: 12px;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background: transparent;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  border: none;
  font-size: 16px;
  color: #e9defa;
  transition: 500ms;
}

button:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 1),
    -1px -1px 6px rgba(255, 255, 255, 0.4), inset 3px 3px 10px rgba(0, 0, 0, 1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  color: #d6d6d6;
  transition: 500ms;
}

#sec-seven h1 {
  position: relative;
  top: 26em;
  text-align: center;
  font-size: 18px;
  color: #d6d6d6;
}




